@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-accent-tamil: #E8841A;
  --color-accent-english: #378ADD;
  --color-card: #F5F3F0;
  --color-border: #E2DED9;

  --font-display: 'DM Serif Display', serif;
  --font-ui: 'Plus Jakarta Sans', sans-serif;
}

@layer base {
  body {
    background-color: #FAFAF9;
    color: #1A1A1A;
    font-family: var(--font-ui);
  }
}
